@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap');


:root{
    --primary-color: #2563EB;
    --secondary-color: #F1F3F9;
}

*{
    margin: 0;
    box-sizing: border-box;   
    font-family: sans-serif; 
}

html{
    scroll-behavior: smooth;
}



a{
    text-decoration: none;
    color: black;
}





/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10vh;

    padding: 0 30px;

    /* background: linear-gradient(120deg, cyan, lime); */
}

.navbar p{
    font-size: 1.5rem;
}

.navbar nav input, .navbar nav label{
    display: none;
}

.navbar nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul li > a{
    padding: 10px 30px;
    margin: 0 5px;
    text-transform: capitalize;
    font-size: 1.3rem;
    border-radius: 25px;
    background: white;
}

nav ul li > a:hover{
    color: var(--primary-color);
    transition: .3;
}

nav ul li label{
    cursor: pointer;
}


/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15rem;
    background: var(--secondary-color);
}

footer a{
    padding: .5rem 2.5rem;
    font-size: 1.3rem;
}
.copyrights{
    text-align: center;
    background: var(--secondary-color);
    padding: 1rem;
}
.copyrights p{
    color: gray ;
}
footer, .copyrights{
    background: #e3ebff;
}

/* Home - Hero */

section.hero{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.hero img{
    width: 18rem;
}

.hero .hero_box{
    width: 30rem;
    text-align: center;
    font-size: 1.3rem;
}
.hero_box p span{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: bold;
}
.hero_box a{
    color: white;
    background: var(--primary-color);
    padding: 10px 50px;
    line-height: 80px;
    border-radius: 25px;
    font-size: 1rem;
}

/* Home - Books */

.books_container{
    padding: 0 30px;
}

.books_container header{
    text-align: center;
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: bold;
    padding: 3rem 5rem;
}

.books{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
    padding: 30px;
}

.book{
    height: 350px;
    padding: 1.5rem;
    background: var(--secondary-color);
    border-radius: 25px;
    position: relative;
}

.book_bg{
    background: var(--primary-color);
}

.book .book_title{
    font-size: 1.6rem;
}

.book .download_btn{
    padding: 10px 30px;
    text-align: center;
    background: var(--primary-color);
    color: white;
    border-radius: 25px;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

/* About */



.about header{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
}
.about .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 3rem;
    padding: 3rem;
}
.about_box{
    background: var(--secondary-color);
    padding: 2rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1.1rem;
    width: 100%;
}
.about_box p span{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: bold;
}
.about_box_dull img{
    width: 100%;
}

/* Contact */

section.contact{
    height: 90vh;
}
.contact header{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem;
}
.contact .container{
    text-align: center;
    line-height: 30px;
}
.contact .container img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    outline: 5px solid var(--primary-color);
    outline-offset: 5px;
    margin: 1rem;
}
.contact .container .icons i{
    font-size: 2rem;
    padding: 3rem 1.5rem;
}

/* Login */
section.login{
    height: 90vh;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .login_txt{
    text-align: right;
    border-right: 5px solid var(--primary-color);
    padding: 3px;
    font-size: 2rem;
    font-weight: bolder;
}
.login_txt p{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.login form{
    background: var(--secondary-color);
    padding: 5rem 3rem;
    border-radius: 25px;
    display: grid;
    width: 40%;
}
form h1{
    font-size: 3rem;
    margin: 0 0 30px 0;
}
.login form input{

    padding: 10px;
    border: none;
    font-size: 1rem;
    border-radius: 3px;
    letter-spacing: 1px;
    width: 100%;
}
.login form input[type="submit"]{
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
form a.signup{
    text-align: center;
    color: blue;
    text-decoration: underline;
}



/* Media queries */

/* for mobile and tablet ( small screens ) */
@media ( max-width: 650px ) {

    /* Navbar */
    .navbar nav label{
        display: block; 
        cursor: pointer;
        font-size: 25px;
    }
    .navbar {
        position: relative;
    }
    .navbar nav ul{
        display: none;
    }
    nav ul li > a{
        background: none;
        padding: 0;
        margin: 0;
    }
    .navbar nav input[type="checkbox"]:checked ~ ul{
        display: block;
        text-align: center;

        position: absolute;
        top: 70px;
        right: 0;

        width: 100%;

        background: var(--primary-color);
        color: white;

    }
    .navbar nav ul li{
        margin: 0;
        padding: 20px;
        width: 100%;
    }
    .navbar nav ul li a{
        color: white;
    }
    .navbar nav ul li a:hover{
        color: black;
        background: white;
        padding: 10px 30px;
    }


    /* Footer */
    footer a{
        display: block;
    }


    /* Home - Hero */
    .hero img{
        display: none;
    }
    .hero .hero_box{
        width: 23rem;
    }
    /* Home - Books */
    .books_container header{
        font-size: 3rem;
    }


    /* About */
    .about .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }
    
    /* Login */
    .login form{
        width: 90%;
    }
    .login_txt{
        display: none;
    }
}
